.button {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    color: var(--white);
    padding: 0.5rem 1rem;
    background: var(--green500);
    border-radius: 0.4rem;
    transition: .3s;
    &:hover {
        background: var(--green700);
    }
}
.button::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url('../../images/icon-cart.svg');
}